3rd Library/AwesomeMenuProject/AwesomeMenuProject/bin
3rd Library/AwesomeMenuProject/AwesomeMenuProject/obj

Self Library/BindingSample2/BindingSample2/bin
Self Library/BindingSample2/BindingSample2/obj
