3rd Library/AwesomeMenuProject/AwesomeMenuProject/bin
3rd Library/AwesomeMenuProject/AwesomeMenuProject/obj

self Library/BindingSample2/BindingSample2/bin
self Library/BindingSample2/BindingSample2/obj
